.marcas {
    padding-top: 60px;
    padding-bottom: 120px;
}

.marcas h2 { 
 margin-bottom: 60px;
}

.marcas ul {
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
}

.marcas li {
    display: flex;
    padding: 32px;
    border-left: 2px solid var(--cor-2);
}

.marcas :li:first-child, :li:nth-child(5) {
    border-left: none;
}

.marcas li:nth-child(n + 5) {
    border-top: 2px solid var(--cor-2);
}

.marcas img {
    margin: auto;
}

@media (max-width: 800px) {
    .marcas {
       padding-bottom: 60px;
    }

    .marcas h2 {
        margin-bottom: 20px;
    }

    .marcas ul {
        grid-template-columns: repeat(2, 1fr);
    }

    .marcas li:nth-child(n + 3) {
        border-top: 2px solid var(--cor-2);
    }

    .marcas li:nth-child(odd) {
        border-left: none;
    }

}

